<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/register-login-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Login</title>
</head>

<body>
    <div class="background-image"></div>
    <div class="container">
        <img src="../assets/images/bg-login.jpg">
        <form id="mainForm" novalidate>
            <h2>Login</h2>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" id="email"
                placeholder="Enter your email"
                autocomplete="off">
                <i class="icon"></i>
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" id="password"
                placeholder="Enter your password"
                autocomplete="off">
                <i class="icon"></i>
            </div>

            <!-- Remember Me and Forgot Password-->
            <div class="rememberAndForgotPassword">
                <div class="rememberMe">
                    <input type="checkbox" id="rememberMe">
                    <label for="rememberMe">Remember me</label>
                </div>
                <div class="forgotPassword">
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
            </div>
            <!-- Submit Button -->
            <button type="submit">Submit</button>
            <!-- Dont have an account? -->
            <div class="ChangeForm">
                <p>Don't have an account? <a href="register.html">Register</a></p>
                <!-- Return to home -->
                <p>Return to <a href="home.html">Home</a></p>
            </div>
        </form>
    </div>

    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Welcome!</h2>
            <p>In a few seconds you will be redirected.</p>
        </div>
    </div>
    <script src="../utils/scriptLog.js"></script>
</body>
</html>