<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/styles/dashboard-style.css">
    <!-- TIP: Si quieren utilizar BS-5 Haganlo, igual cuando quieran y puedan, quiten este comentario -->
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <title>Dashboard</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bxl-joomla'>
                <div class="logo-name">
                    <span>&nbsp;&lt;Courses</span>
                </div>
            </i>
        </a>
        <a href="#" class="space">
        </a>
        <ul class="side-menu" id="side-menu">
            <li><a href="./dashboard.html"><i class='bx bxs-dashboard'>
                    </i>Dashboard</a></li>
            <!-- <li class="active"><a href="./session.html"><i class='bx bx-objects-horizontal-right'>
                    </i>Sessions</a></li>
            <li><a href="/enrolled"><i class='bx bxs-bookmark-alt'>
                    </i>Enrolled</a></li> -->
            <!-- <li><a href="/teacher"><i class='bx bx-group'>
                    </i>Teach</a></li> -->
        </ul>
        <ul class="side-menu">
            <!-- <li><a href="/settings"><i class='bx bx-cog'>
                    </i>Settings</a></li> -->
            <li>
                <a href="#" class="logout" id="logout">
                    <i class='bx bx-log-out-circle'></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <!-- <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>

            <a href="#" class="profile">
                <img src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png">
            </a>
        </nav> -->

        <!-- End of Navbar -->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Sessions</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Sessions
                            </a></li>
                        /
                        <li><a href="#" class="active">Search</a></li>
                    </ul>
                </div>
            </div>

            <!-- Search bar -->
            <div class="search-bar">
                <input type="search" placeholder="Search..." id="querysearch">
                <button class="search-btn" type="submit" id="sendSearch"><i class='bx bx-search'></i></button>
                <!-- Filter Modal -->
                <div id="filterModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <label for="dateFrom" class="modal-label">From date:</label>
                        <input type="datetime-local" id="dateFrom" class="modal-input">
                        <label for="dateTo" class="modal-label">To date:</label>
                        <input type="datetime-local" id="dateTo" class="modal-input">
                        <button onclick="clearFilter()" class="modal-btn">Clear</button>
                        <button onclick="filterDate()" class="modal-btn">Filter</button>
                    </div>
                </div>

                <!-- Filter Button -->
                <div class="filter">
                    <button class="filter-btn" id="filterDate" onclick="showFilter()"><i class='bx bx-filter'></i></button>
                </div>
            </div>

            <!-- End of Insights -->

            <!-- Opinions -->
            <div class="bottom-data">
                <div class="sessions">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Sessions</h3>
                    </div>
                    <div id="sessionsData"></div>

                    <!-- Session Table -->


                </div>
            </div>

        </main>

    </div>

    <script src="../scripts/session.js"></script>
    <script src="../scripts/pagination.js"></script>
    <script src="../scripts/addLogOut.js"></script>

</body>

</html>